@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #00C1A4;
  --highlight: #8A2BE2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --accent: #00C1A4;
    --highlight: #8A2BE2;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}